name: tests

jobs:
  uv-example:
    name: python
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Install the project
        run: uv sync --locked --all-extras --dev

      - run: uv run ruff check --fix .
      - run: uv run ruff format .
      - run: uv run pyright
      - run: uv run pytest tests
